---
import MainLayout from '../layouts/main.layout.astro';
import Header from '../sections/_shared/header.section.astro';
import Features from '../sections/features.section.astro';
---


<MainLayout title="Portafolio VAMA">
	<main>
		<Header />
		<Features />
	</main>
</MainLayout>